
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

a {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: lightblue;
  width: 100%;
}

.nav-bar {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: black;
  height: 7vh;
  width: 100vw;
}

.nav-bar a {
  margin-right: 2vw;
  margin-left: 2vw;
  text-decoration: none;
  color: white;
}

.search-controls {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left:10vw;
  align-items: center;
}

.search-controls div{
  display:flex;
  justify-content: center;
}

.search-param-instance {
  display:flex;
  flex-direction:row;
  align-items:center;
  height: 4vh;
  width:100%;
  margin-bottom: 10px;
  height: 30px;
}

.search-param-instance label {
  width: 150px;
  overflow:auto;
}

.search-param-instance input{
  margin-left: 2%;
  width: 55%;
  height: 17px;
}

.search-controls button{
  cursor:pointer;
}

.recipe-item img:hover{
  cursor:pointer;
}

.search-results-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Add gap between items */
  margin-top:35px;
  overflow-x: hidden;
}

@media (max-width:949px){
  .search-results-component {
    grid-template-columns: repeat(2,1fr);
  }
  .search-results-component h3 {
    font-size:medium;
  }
}

@media (max-width:420px){
  .search-results-component {
    grid-template-columns: repeat(1,1fr);
  }
  .search-results-component h3 {
    font-size:medium;
  }
  .search-controls h1 {
    font-size:medium;
  }
  .search-controls label{
    font-size:small;
  }
  .search-param-instance input{
    width: 60%;
    height: 17px;
  }
}


/* .search-results-component h3{
  text-align:center;
  width: 150px;
  margin-right: 10px;
} */

.recipe-item {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.recipe-item h3 {
  font-size:15px;
  text-align:left;
  width:200px;
  height: 24px;
  overflow: hidden;
}

.recipe-img-containter-norm {
  display:flex;
  border-radius: 10px;
  height:250px;
  width:200px;
  overflow:hidden;
  justify-content:center;
  align-items: center;
  transition: width 0.5s ease, height 0.5s ease, margin-top 0.5s ease; /* Separate properties with commas */
  margin-top:20px;
}

/* On hover scale image larger */
.recipe-img-containter-hover {
  display:flex;
  border-radius: 10px;
  height:262.5px;
  width:210px;
  overflow:hidden;
  justify-content:center;
  margin-top: 7.5px;
  transition: width 0.5s ease, height 0.5s ease, margin-top 0.5s ease; /* Separate properties with commas */
  cursor:pointer;
}

.recipe-item img{
  width: 330px;
  height:270px;
}

.recipe-search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position:relative;
  width: 100%;
}
.recipe-search-box button{
  position:absolute;
  width : 55px;
}

.recipe-search-box div {
  margin-left: 60%;
  font-size:10px;
  color: darkred;
  font-weight:bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.planner-container {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  overflow:auto;
}

.planned-meal-item{
  display: flex;
  flex-direction: column;
  margin-left:4px;
  border: 1px solid black;
  margin-top: 5px;
}

.planned-meal-item label{
  font-size:32px;
  font-weight:bold;
  text-align:center;
  margin-top:5px;
}

.planned-meal-item p{
  font-size:14px;
  text-align:left;
  margin-left: 10px;
}

.planned-meal-item h2{
  font-size:18px;
  text-align:left;
  font-weight:bold;
  margin-left: 10px;
}